[submodule "992/Chess-Game"]
	path = 992/Chess-Game
	url = git@github.com:alizeinodin/Chess-Game.git
[submodule "4012/Tweeterak_Univercity_Project"]
	path = 4012/Tweeterak_Univercity_Project
	url = git@github.com:amirhosseinbt/Tweeterak_Univercity_Project.git
[submodule "4012/UI-final-project"]
	path = 4012/UI-final-project
	url = git@github.com:Hossein-Fazel/UI-final-project.git
[submodule "4012/twitterak-final"]
	path = 4012/twitterak-final
	url = git@github.com:arya237/twitterak-final.git
[submodule "4001/Cpp-Pacman"]
	path = 4001/Cpp-Pacman
	url = git@github.com:salehsoleimani/Cpp-Pacman.git
